body {
    background: #b7c2ce;
    font-size: 13pt;
    font-family: "Arial";
    padding: 0;
    margin: 0;

}

.column-head {
    font-family: "Courier New";
    font-size: 24pt;
    text-align: center;
}

.center-col {
    background-color: #e1e8ef;
    width: 33.33%;
    height: 94%;
    float: left;

}

.left-col {
    background-color: #ebeef3;
    width: 33.33%;
    height: 94%;
    float: left;

}

.right-col {
    background-color: #ebeef3;
    width: 33.33%;
    height: 94%;
    float: right;

}

.footer {
    height: 3%;
    bottom: 0;
}

.header-title {
    font-family: "Courier New";
    font-size: 24pt;
    text-align: center;
    height: 5%;
    top: 0;
}

.align-img {
    float: left;
}



d {
    font-size: 10pt;
    font-family: "Times New Roman";
}


/*
Center the data in the div with a header class.
Slightly more elegant approach than using the <center> tag
*/
div.header {
    margin: auto;
    width: auto;
    text-align: center;
    background-color: green;

}

/*
All H1 elements with a class of header
This makes the header data centred.
*/
h1.header {
    padding-top: 20px;
    margin: auto;
    width: auto;

}

.header > p {
    margin-bottom: 0px;
    padding: 2px;
}

/*
Change the behaviour of the unordered list with a navbar class
setting the list-style-type to none removes the dots for new li elements
*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 20;
    background-color: black;
}

/* All li elements with ul parents with a navbar class*/
ul.navbar > li {
    padding: 20;
    display: inline;

}

/* Only the main navbar gets the active class.  This is because the
   sub navbar takes you to a link within the same page while the main
   navbar should show you which page you are on */
ul.navbar > li.active {
    background-color: lightblue;

}

/* remove the default hyperlink formatting from the text */
ul.navbar > li > a {
    text-decoration: none;
    color: white;
}

/* Hover attribute to change he color of the li element when the mouse hovers over it
*/
ul.navbar > li:hover {
    background-color: darkblue;

}

/* for the sub navbar, indent it a bit more than the main navbar
   Also make the whole thing a bit smaller to indicate that its
   subordinate to the main navbar */
ul.subnav {
    padding-left: 80;
    padding-top: 10;
    padding-bottom: 10;
    padding-right: 10;
}

ul.subnav > li {
    font-size: 14;
    padding: 10;
}


div.main_content_area {
    margin: auto;
    width: auto;
}

div.tech_content_card {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: whitesmoke;
    width: 80%;
    box-shadow: 10px;
    border: 1px solid;
    padding: 10px;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 5px 10px 8px #888888;
}

.tech_content_card > h1 {
    padding-bottom: 0;
    margin-bottom: 0;
}

div.image_box {
    width: auto;
    border: 1px solid;
    padding: 4px;
    text-align: center;
    font-size: 9;
    font-style: italic
}

.image_box > img {
    width: max-content;

}
.image_box > p {
    padding-top: 2px;
    margin-bottom: 0px;
    margin-top: 3px;
    
}

div.image_box_float_right {
    float: right;
}

.authorship {
    font-size: 10;
    font-style: italic;
    border-bottom: 2px solid;
}

div.maincontent {
    margin: auto;

}

div.member_block {
    text-align: center;
    max-width: 395px;
    height: 810px;
    background-color: azure;
    margin: 40;
    padding: 7;
    box-shadow: 3px 3px 3px 3px;
    float: left;
    border-radius: 10px;
}

/*
Set arbitrary figures for height and width of the pics
*/
img.profilepic {

    display: block;
    margin: auto;
    max-width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
}

span.member_bio {
    display: block;
}

div.team_profile {
    margin: 40;
    border: 1px solid;
    padding: 7;
    box-shadow: 3px 3px 3px 3px;
    background-color: azure;
    border-radius: 10px;
}

#individual_profiles {
    margin: 10;
    padding: 10;

}

span.member_name {
    font-weight: bold;
}

/*
This clearing style is to allow a div to surround floating members
*/
.Clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

div.video_embed_center {
    margin: 25;
}

div.video_embed_center > iframe {
    margin: 0 auto;
}

div.ctr_table_div {
    margin: auto;
    width: auto;
}

div.ctr_table_div > table {
    margin: auto;
    /*  width: 50%;*/
    border: 3px solid;
    padding: 10px;
}

.draft_content {
    background-color: yellowgreen;
    color: red;
    font-weight: bold;
}

#mb_table {
    margin: auto;
    /*  width: 50%;*/
    border: 3px solid;
    border-radius: 4px;
    padding: 10px;
    background: white;
}

#mb_table > tbody > tr > td,
th {
    text-align: center;
    border: 1px solid;
    padding: 6px;

}

.mb_card {
    display: inline-block;


}

#ol_learning_charts {
    width: auto;
    margin: auto;
}

.mb_card.inner_grouping {
    border: 1px solid;
    display: inline-block;

}

.mb_test_chart {
    /*    border: 1px solid;*/
    padding: 2px;
    max-width: 280px;
    max-height: 155px;
}

.learning_table {
    margin: auto;
}

.learning_table > thead > tr > th {
    border: 0px;
}

.learning_table > tbody > tr > th {
    border: 0;

}

.learning_table > tbody > tr.top {
    border: 2px solid;
    border-color: red;
    border-radius: 10%;
}

.learning_table > tbody > tr > td.rjust {
    text-align: right;
}

.learning_table > tbody > tr > td.ctr {
    text-align: center;
}

span.note {
    font-weight: bold;

}

div.inner_grouping {
    border: solid 1px;
    margin-bottom: 5px;
    width: 273px;

}

p.note {
    width: 75%;
    padding: 5px;
    margin: auto;
    margin-bottom: 15px;
    border: 2px solid;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 4px;
    background-color: white;
}

#individual_tests {
    padding-top: 30px;
    padding-bottom: 30px;
}
