body {
    background: #b7c2ce;
    font-size: 13pt;
    font-family: "Arial";
    padding: 0;
    margin: 0;

}

.column-head {
    font-family: "Courier New";
    font-size: 24pt;
    text-align: center;
}

.center-col {
    background-color: #e1e8ef;
    width: 33.33%;
    height: 94%;
    float: left;

}

.left-col {
    background-color: #ebeef3;
    width: 33.33%;
    height: 94%;
    float: left;

}

.right-col {
    background-color: #ebeef3;
    width: 33.33%;
    height: 94%;
    float: right;

}

.footer {
    height: 3%;
    bottom: 0;
}

.header-title {
    font-family: "Courier New";
    font-size: 24pt;
    text-align: center;
    height: 5%;
    top: 0;
}

.align-img {
    float: left;
}

p {
    font-size: 14pt;
    font-family: "Times New Roman";
    padding: 3px;
}

d {
    font-size: 10pt;
    font-family: "Times New Roman";
}
/*
Center the data in the div with a header class.
Slightly more elegant approach than using the <center> tag
*/
div.header {
    margin: auto;
    width: auto;
    text-align: center;
}

/* 
All H1 elements with a class of header 
This makes the header data centred.   
*/
h1.header {
    margin: auto;
    width: auto;

}
/*
Change the behaviour of the unordered list with a navbar class
setting the list-style-type to none removes the dots for new li elements
*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 20;
    background-color: black;
}

/* All li elements with ul parents with a navbar class*/
ul.navbar>li {
    padding: 20;
    display: inline;
    
}

/* Only the main navbar gets the active class.  This is because the
   sub navbar takes you to a link within the same page while the main
   navbar should show you which page you are on */
ul.navbar>li.active {
    background-color: lightblue;
    
}

/* remove the default hyperlink formatting from the text */
ul.navbar>li>a {
    text-decoration: none;
    color: white;
}

/* Hover attribute to change he color of the li element when the mouse hovers over it
*/
ul.navbar>li:hover {
    background-color: darkblue;
    
}

/* for the sub navbar, indent it a bit more than the main navbar
   Also make the whole thing a bit smaller to indicate that its
   subordinate to the main navbar */
ul.subnav {
    padding-left: 80;
    padding-top: 10;
    padding-bottom: 10;
    padding-right: 10;
}

ul.subnav>li {
    font-size: 14;
    padding: 10;
}

div.maincontent {
    margin: auto;
    
}

div.member_block {
    text-align: center;
    max-width: 250px;
    background-color: azure;
    margin: 40;
    padding: 7;
    box-shadow: 3px 3px 3px 3px;
    float: left;
    border-radius: 10px;
}

img.profilepic {
    display: block;
    margin: auto;
    border-radius: 50%;
    
}

span.member_bio {
    display: block
}

